{% extends 'base.html' %}
{% block body %}
    <div class = 'container'>
        <div class="row">
            {% for i in movie_list %}
              <div class="col-md-4 mb-4"><!-- Add margin bottom to create space between cards -->
<!--                <div class="card h-100">-->
            <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="{{i.img.url}}" alt="Card image cap"  height="200px">
                     <div class="card-body">
                        <h5 class="card-title" >{{i.name}}</h5>
                            <p class="card-text" style="max-height: 80px; overflow: hidden;">{{i.desc}}</p>
                                <a href="{% url 'movieapp:details' i.id %}" class="btn btn-primary">Details</a>
                     </div>
                </div>
              </div>
            {% endfor %}
        </div>
    </div>
<!--{{i.id}}........><b>{{i.name}}</b> // to print the movie names-->
{% endblock %}

